* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-regular: "Chivo";
  --bs-body-font-family: var(--font-regular);
}
@font-face {
  font-family: "Chivo";
  font-weight: 400;
  src: url("/fonts/Chivo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Chivo";
  font-weight: 700;
  src: url("/fonts/Chivo-Bold.ttf") format("truetype");
}

html,
body {
  font-family: var(--font-regular);
}
.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 120vh;
}
.main-layout main {
  flex: 1;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

a {
  text-decoration: none !important;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input:focus,
textarea:focus {
  outline: none !important;
}
